@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700,900);
body {
    margin-top: 70px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 300;
    color: #555;
    background-color: #f2f2f2;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

.alert {
    width: 600px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Raleway;
    font-weight: 300;
    color: #333;
}

.logo {
    color: #ff7878;
}

p {
    margin-bottom: 25px;
    line-height: 28px;
}

.centered {
    text-align: center;
}

a {
    color: #f85c37;
    -webkit-transition: color .1s ease-in,background .1s ease-in;
    -moz-transition: color .1s ease-in,background .1s ease-in;
    -ms-transition: color .1s ease-in,background .1s ease-in;
    -o-transition: color .1s ease-in,background .1s ease-in;
    transition: color .1s ease-in,background .1s ease-in;
    word-wrap: break-word;
}

a:focus,
a:hover {
    text-decoration: none;
    outline: 0;
    color: #7b7b7b;
}

a:after,
a:before {
    -webkit-transition: color .1s ease-in,background .1s ease-in;
    -moz-transition: color .1s ease-in,background .1s ease-in;
    -ms-transition: color .1s ease-in,background .1s ease-in;
    -o-transition: color .1s ease-in,background .1s ease-in;
    transition: color .1s ease-in,background .1s ease-in;
}

hr {
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0;
    border: 0;
    border-top: 1px solid #ccc;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
    font-weight: 800;
}

.navbar-inverse {
    border-color: #2d2d2d;
    background: #2d2d2d;
}

.navbar-inverse .navbar-nav>.active>a {
    background: #ff7878;
}

.navbar-inverse .navbar-brand {
    font-size: 22px;
    font-weight: bolder;
    letter-spacing: 1px;
    color: #999;
}

.navbar-inverse .navbar-brand i {
    font-size: 22px;
    letter-spacing: 1px;
    color: #ff7878;
}

.tilt {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.tilt:hover {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

#headerwrap {
    width: 100%;
    margin-top: -10px;
    padding-top: 20px;
    min-height: 500px;
    text-align: center;
    background: url(/static/img/minecraft.png) no-repeat center top;
    background-attachment: relative;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#headerwrap h1 {
    margin-top: 100px;
    font-size: 70px;
    font-weight: 300;
    letter-spacing: 3px;
    color: #fff;
}

#headerwrap h2 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #fff;
}

#dg {
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
    background: #e0e0e0;
}

#dg h4 {
    font-weight: 700;
}

#lg {
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
    background: #ebebeb;
}

#lg h4 {
    font-weight: 700;
}

#r {
    padding-top: 35px;
    padding-bottom: 35px;
    background: #ff7878;
}

#r h4 {
    font-weight: 700;
    color: #fff;
}

#r p {
    color: #fff;
}

#blue {
    padding-top: 35px;
    padding-bottom: 35px;
    background: #3498db;
}

#blue h4 {
    font-weight: 700;
    color: #fff;
}

#blue p {
    color: #fff;
}

#f {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #2d2d2d;
}

#f i {
    padding: 20px;
    font-size: 30px;
    color: #bdbdbd;
}

#f i:hover {
    color: #ff7878;
}

.w {
    padding-top: 35px;
    padding-bottom: 35px;
}

.w h4 {
    font-weight: 700;
}

.w i {
    font-size: 30px;
    color: #ff7878;
}

.wb {
    margin-bottom: 0;
    padding-top: 35px;
}

.wb h4 {
    font-weight: 700;
}

.desc {
    padding-top: 35px;
}

.desc h4 {
    font-weight: 700;
}

.desc i {
    padding: 5px;
    font-size: 12px;
    color: #ff7878;
}

.modal-content {
    border-radius: 0;
}

.modal-header {
    color: #fff;
    background: #bdbdbd;
}

.modal-header h4 {
    font-weight: 700;
}

.modal-body {
    font-family: Lato;
    font-size: 16px;
    font-weight: 300;
    color: #555;
    background: #f2f2f2;
}

.modal-footer {
    margin-top: 0;
    background: #f2f2f2;
}

.pricing-option {
    padding-bottom: 40px;
}

.pricing-option .pricing-top {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 20px 30px;
    text-align: center;
    font-weight: 700;
    color: #fff;
    background: #222;
}

.pricing-option .pricing-top .special-label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3px 0;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    background: #1abc9c;
}

.special .pricing-top {
    background: #000;
}

.pricing-option .pricing-edition {
    display: block;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 8px;
}

.pricing-option .price {
    display: inline-block;
    position: relative;
}

.pricing-option .price sup {
    position: absolute;
    top: 50px;
    left: -10px;
    font-size: 24px;
}

.pricing-option .price .price-amount {
    font-size: 108px;
    letter-spacing: -4px;
}

.pricing-option .price small {
    position: relative;
    left: -10px;
    font-size: 18px;
}

.pricing-option ul {
    margin: 0;
    padding-left: 0;
    text-align: center;
    list-style: none;
    background: #eee;
}

.pricing-option ul li {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #e1e1e1;
}

.pricing-option .pricing-signup {
    display: block;
    padding: 15px 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background: #1abc9c;
}

.pricing-option .pricing-signup:hover {
    background: #ff7878;
}

.github-fork-ribbon {
    z-index: 9999;
    position: absolute;
    padding: 2px 0;
    background-color: #a00;
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0) ), to(rgba(0,0,0,.15) ) );
    background-image: -webkit-linear-gradient(top,rgba(0,0,0,0), rgba(0,0,0,.15) );
    background-image: -moz-linear-gradient(top,rgba(0,0,0,0), rgba(0,0,0,.15) );
    background-image: -ms-linear-gradient(top,rgba(0,0,0,0), rgba(0,0,0,.15) );
    background-image: -o-linear-gradient(top,rgba(0,0,0,0), rgba(0,0,0,.15) );
    background-image: linear-gradient(top,rgba(0,0,0,0), rgba(0,0,0,.15) );
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.5);
    -moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,.5);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.5);
    pointer-events: auto;
}

.github-fork-ribbon a,
.github-fork-ribbon a:hover {
    display: inline-block;
    width: 200px;
    padding: 2px 0;
    border: 1px 0 dotted #fff;
    border-color: rgba(255,255,255,.7);
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0,0,0,.5);
    font: 700 13px "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 20px;
    color: #fff;
}

.github-fork-ribbon-wrapper {
    z-index: 9999;
    position: absolute;
    top: 0;
    width: 150px;
    height: 150px;
    overflow: hidden;
    pointer-events: none;
}

.github-fork-ribbon-wrapper.fixed {
    position: fixed;
}

.github-fork-ribbon-wrapper.left {
    left: 0;
}

.github-fork-ribbon-wrapper.right {
    right: 0;
}

.github-fork-ribbon-wrapper.left-bottom {
    position: fixed;
    top: inherit;
    bottom: 0;
    left: 0;
}

.github-fork-ribbon-wrapper.right-bottom {
    position: fixed;
    top: inherit;
    right: 0;
    bottom: 0;
}

.github-fork-ribbon-wrapper.right .github-fork-ribbon {
    top: 42px;
    right: -43px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.github-fork-ribbon-wrapper.left .github-fork-ribbon {
    top: 42px;
    left: -43px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.github-fork-ribbon-wrapper.left-bottom .github-fork-ribbon {
    top: 80px;
    left: -43px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.github-fork-ribbon-wrapper.right-bottom .github-fork-ribbon {
    top: 80px;
    right: -43px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.timeline {
    position: relative;
    padding: 20px 0;
    list-style: none;
}

.timeline:before {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 3px;
    margin-left: -1.5px;
    background-color: #226ED5;
}

.timeline>li {
    position: relative;
    margin-bottom: 20px;
}

.timeline>li:after,
.timeline>li:before {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li>.timeline-panel {
    float: left;
    position: relative;
    width: 46%;
    padding: 20px;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.3);
    box-shadow: 0 1px 6px rgba(0,0,0,.3);
}

.timeline>li>.timeline-panel:before {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 26px;
    right: -15px;
    border-top: 15px solid transparent;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #ccc;
}

.timeline>li>.timeline-panel:after {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 27px;
    right: -14px;
    border-top: 14px solid transparent;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    border-left: 14px solid #fff;
}

.timeline>li>.timeline-badge {
    z-index: 100;
    position: absolute;
    top: 16px;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    text-align: center;
    font-size: 1.4em;
    line-height: 50px;
    color: #fff;
    background-color: #999;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline-badge.primary {
    background-color: #2e6da4!important;
}

.timeline-badge.success {
    background-color: #3f903f!important;
}

.timeline-badge.warning {
    background-color: #f0ad4e!important;
}

.timeline-badge.danger {
    background-color: #d9534f!important;
}

.timeline-badge.info {
    background-color: #5bc0de!important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body>p,
.timeline-body>ul {
    margin-bottom: 0;
}

.timeline-body>p+p {
    margin-top: 5px;
}

@media(max-width:767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline>li>.timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline>li>.timeline-badge {
        top: 16px;
        left: 15px;
        margin-left: 0;
    }

    ul.timeline>li>.timeline-panel {
        float: right;
    }

    ul.timeline>li>.timeline-panel:before {
        right: auto;
        left: -15px;
        border-right-width: 15px;
        border-left-width: 0;
    }

    ul.timeline>li>.timeline-panel:after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0;
    }
}

.widget .panel-body {
    font-size: 18px;
    padding: 0;
}

.widget .list-group {
    margin-bottom: 0;
}

.widget .panel-title {
    display: inline;
}

.widget .label-info {
    float: right;
}

.widget li.list-group-item {
    border: 0;
    border-top: 1px solid #ddd;
    border-radius: 0;
}

.widget li.list-group-item:hover {
    background-color: rgba(86,61,124,.1);
}

.widget .mic-info {
    font-size: 14px;
    color: #666;
}

.widget .action {
    margin: 5px;
}

.widget .comment-text {
    font-size: 14px;
    margin: 5px;
    padding: 5px;
}

.widget .comment-text pre {
    background: #B5B5B5;
}

.widget .btn-block {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* carousel */
#quote-carousel 
{
  padding: 0 10px 30px 10px;
  margin-top: 30px 0px 0px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left 
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right 
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active 
{
  background: #333333;
}
#quote-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */

.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}



/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
      margin-top: 30px;
    }
    
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}
